
.img-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 36vw;
  transition: opacity 0.7s ease-in;
  opacity: 0;
}

.img-container img[data-visible='true'] {
  opacity: 1;
}

.img-container img[data-visible='false'] {
  opacity: 0;
}